html,body {
    margin:0;
    padding:0;
    font-family: Lato;
    font-weight: 300;
    color:#444;
}
header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color:rgba(253,252,252,0.86);
    border-bottom:2px solid #eee;
    height:52px;
    z-index:101;
}
header img {
    padding: 6px 0px 3px 6px;
}
footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color: #C40D0D;
    border-top:2px solid #820000;
}
footer p {
    color: #e4a5a0;
    text-align: center;
    text-shadow: 1px 1px 1px #770100;
    margin:2px;
}
.content {
    position:relative;
    width:640px;
    margin:0 auto;
    top:60px;
    overflow-x: auto;
    padding-left:10px;
    padding-right:10px;
}
header .left-part {
    float:left;
    width:50%;
}
header .right-part {
    float:right;
    width:50%;
}
header .right-part ul {
    position:absolute;
    right:10px;
}
header .right-part ul li {
    list-style-type: none;
    float:left;
    margin-left:4px;
    margin-right: 4px;
}
header .right-part ul li a {
    color: #C40D0D;
    font-weight: 600;
    text-decoration: none;
}
header .right-part ul li a.active {
    color: #333;
    font-weight: 300;
}